*{
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8b8282;
    
}
.logoimage{
    height: 36px;
    width: 53px;
}
.logo{
    margin-left: 4%;
}
.nav_bar{
    color: black;
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    
}
.nav_bar a{
    padding: 28px 0;
    border-bottom: 4px solid rgb(255, 255, 255);
}
.nav_bar a:hover{
    border-bottom: 4px solid red;
}
.bar{
    
    align-items: center;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    width: 300px;
    border-radius:0 4px 4px 0;
    border: 0;

}
.searchicon{ 
    box-sizing: content-box;
    border-radius: 4px 0 0 4px ;

}
.search_bar{
    margin-left: 5px;
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}
.action_bar{
    display: flex;
    width: 200px;
    margin-right: 5%;
    justify-content: space-between;
    justify-content: space-around;
}
.a1{
    padding: 19px 0;
    border-bottom: 4px solid rgb(255, 255, 255);
}
.a1:hover{
    border-bottom: 4px solid red;
}
.categeory_name{
    height: 10px;
    font-size: 20px;
    margin: 50px 0 10px 30px ;
    font-weight: 700;
    color: #373333;
}
.categeory_item{
    display: flex;
    width: 80%;
    height: 50px;
    justify-content: space-between;
}
